//colors map (TODO: add more colors if necessary)
$colorsMap: (
 'black': $black,
 'white': $white,
 'red': $red,
 'purple': $purple,
 'green': $green,
 'pink': $pink,
 'orange': $orange,
 'blue': $blue,
 'yellow': $yellow,
 'brown': $brown,
 'gray': $gray,
 'gray-light': $gray-light
);

.bold {
    font-weight: bold;
}

//generate the utility color-X and background-color-X classes
@each $name, $value in $colorsMap {
    .color-#{$name} {
        color: #{$value};
    }

    .background-color-#{$name} {
        background-color: #{$value};
    }
}